# Global owners
* @UVicMartletplace/ResOps

# Folder specific team ownership
/.github/                  @UVicMartletplace/ResOps
/apps/algorithm/recommend/ @UVicMartletplace/Algorithms/Recommend
/apps/algorithm/search/    @UVicMartletplace/Algorithms/Search
/apps/backend/             @UVicMartletplace/Backend
/apps/data/                @UVicMartletplace/ResOps
/apps/frontend/            @UVicMartletplace/Frontend
/apps/proxy/               @UVicMartletplace/ResOps

# Specific filetype ownership
**/Dockerfile @UVicMartletplace/ResOps
