version: '2.2'

x-ENV-VARS: &shared_env_var
  DB_ENDPOINT: postgres://martletplace:johuigytfrdcv@datalayer:8300/martletplace
  OTEL_COLLECTOR_ENDPOINT: http://collector:4318/v1/traces
  JWT_PUBLIC_KEY: |
    -----BEGIN PUBLIC KEY-----
    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAj82D71KNQmYa2ZEUx/pI
    lXgKJJpL0gw/AawyZtyALhQ+BnxIl98zUNdmBdS72ziMw7fAKsolq1592ZZOk44e
    gEtpmGVpLSXyI8NqNBbmFOLHkVOgzWjIokC1Pfmr19iCz33YlH6sOHeG7pNyFdhV
    /ILU1QuqdwcfPbxX6HJry8Kmtkas31diHIrCsgNxq+FApi4fz9U61zQD/rpcOtoS
    OUHCTSfEySEurNPBvtNReVWWqLihOPFd214MJreYCI5lLNg9XgYeKYhsYTEbsCdY
    lBIGx7SDnp8kP7yPSjY9OQeWhPy3azC88k72HxlunLoOqhKSOCyL4YRyjiZEFSy5
    pQIDAQAB
    -----END PUBLIC KEY-----

services:
  frontend:
    build: apps/frontend
    container_name: martletplace_frontend
    restart: unless-stopped
    depends_on: []
    volumes: [ ./apps/frontend/src:/app/src ]
    environment: []

  proxy:
    build: apps/proxy
    container_name: martletplace_proxy
    restart: unless-stopped
    depends_on: []
    volumes: [ ./apps/proxy:/app ]
    environment: []
    ports: [ 80:80, 443:443 ]

  user:
    build:
      context: apps/backend/user
      additional_contexts:
        - lib=apps/backend/lib
    container_name: martletplace_user
    restart: unless-stopped
    depends_on: []
    volumes: [ ./apps/backend/user/src:/app/service/src, ./apps/backend/lib/src:/app/lib/src ]
    environment:
      <<: *shared_env_var
      EMAIL_ENDPOINT: http://datalayer:8302/api/email
      JWT_PRIVATE_KEY: |
        -----BEGIN PRIVATE KEY-----
        MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCPzYPvUo1CZhrZ
        kRTH+kiVeAokmkvSDD8BrDJm3IAuFD4GfEiX3zNQ12YF1LvbOIzDt8AqyiWrXn3Z
        lk6Tjh6AS2mYZWktJfIjw2o0FuYU4seRU6DNaMiiQLU9+avX2ILPfdiUfqw4d4bu
        k3IV2FX8gtTVC6p3Bx89vFfocmvLwqa2RqzfV2IcisKyA3Gr4UCmLh/P1TrXNAP+
        ulw62hI5QcJNJ8TJIS6s08G+01F5VZaouKE48V3bXgwmt5gIjmUs2D1eBh4piGxh
        MRuwJ1iUEgbHtIOenyQ/vI9KNj05B5aE/LdrMLzyTvYfGW6cug6qEpI4LIvhhHKO
        JkQVLLmlAgMBAAECggEAFzGIS1AXAQPbZkZwYd20Gcl551PskTUQ73ngyjbbxLLW
        mzCt+7LQAcSwC5Y3c2DwUTvglnYys6xio3bK9yEXuc0P+7i1iUbiwlJpHXwpAWrf
        Ucj5eU/idkr2AIg1p3NgC8vKJA83Q0dB/9ZPswbIvZizb6Y5SQfgydIIIrFbwgoF
        9c4Qp+2wXd0QLnUPHmwVzYQWB34bDQFI1qfQIENo3nilLHEdiyoadxSeLiCxQ68Y
        i9IOTanC4t+BJxZw1kLhwV/I5OxGZUDQflLbr0MFby7MFroavi1imI+XZvX1vEa9
        pyG6GmODCkfS0MARt1IjvJYzZJSZhx0e8MoaA7CiOQKBgQDED80Gnr2UUIANPAgr
        Fjar556ZXlE4W0eQjhVCYhokOdBKoYtqc89ws3tKnG5MCCVNGdHQ5B4S/ty0+eQd
        KfcTCWlmzs5PEdFHjh1ZMJ4oIJIths8H+B/IjhWGioHmEeEcnhHIxEfstbP1bI8R
        as9/zNv1EGdSkvR8JA4wh4yzvQKBgQC7w9JlAC0aLRnQdVoiISschnjqbFqQZGMH
        0ZPVBU48oJ6pmgI65wdjCiU64LdLp+DZiqxGD2yrbMrFi2YRGDPdj32hHxYc2+Cj
        EX4wiK+Hc+Mp8bz+6ogItxdVBmo4QYgFAzPG7JKF7Q/O6Fh5UNjoOfeda8b9PSIc
        PAQ71ZaICQKBgQDBEGotha1bWjXuUlocy6AEgW1syzKhk0kScMdAekgRuhiBFTir
        F+WCrkrPOuFl33OTy8QPtkJjJDMDxzs4+LUDOvZetXD07a+ujaQaysRC8Wfgiupd
        h5kMrdVGiifF/X815fXPRHErB/Zwy3jKhupTh9BlLsT/zBQSFpMeeKw15QKBgB5X
        MEI92wvlycwTinMFZRAA8rz+sUuvzQjQZtD/QHsvgTPqvP2Do3/vfcCb20KQaBb+
        /4N6rpasx79QHTgZ7xeYPjaw7UPQi+YNx5RUIfkDUuvOMjoG7+BopY6JsNRSUoZs
        1AsK40pc2jcW+GTyGXq9EzQO3GLDZCWn1Q9OHjrxAoGAHq/LH1ZjrTvHfDbcF+WZ
        nAoUa7whs/NkG1LrSqPVSa2iQiia6APtCgxJzJD9gii3Cwos6/PU1YyOYL+Y/sFK
        X4mH5b/BwklMy1wPZm1JkacLhBiQ4bEQ8Jwwnt3BZQ0iPvPTmrtUXnOSfoJBrvmU
        LU2O3fiOTm08CGokFesMzWM=
        -----END PRIVATE KEY-----

  listing:
    build:
      context: apps/backend/listing
      additional_contexts:
        - lib=apps/backend/lib
    container_name: martletplace_listing
    restart: unless-stopped
    depends_on: []
    volumes: [ ./apps/backend/listing/src:/app/service/src, ./apps/backend/lib/src:/app/lib/src ]
    environment:
      <<: *shared_env_var

  review:
    build:
      context: apps/backend/review
      additional_contexts:
        - lib=apps/backend/lib
    container_name: martletplace_review
    restart: unless-stopped
    depends_on: []
    volumes: [ ./apps/backend/review/src:/app/service/src, ./apps/backend/lib/src:/app/lib/src ]
    environment:
      <<: *shared_env_var

  message:
    build:
      context: apps/backend/message
      additional_contexts:
        - lib=apps/backend/lib
    container_name: martletplace_message
    restart: unless-stopped
    depends_on: []
    volumes: [ ./apps/backend/message/src:/app/service/src, ./apps/backend/lib/src:/app/lib/src ]
    environment:
      <<: *shared_env_var

  search:
    build: apps/algorithm/search
    container_name: martletplace_search
    restart: unless-stopped
    depends_on:
      elasticsearch:
        condition: service_healthy
    volumes: [ ./apps/algorithm/search/src:/app/src ]
    environment:
      <<: *shared_env_var
      ES_ENDPOINT: https://elastic:serxdfcghjfc@elasticsearch:8311

  recommend:
    build: apps/algorithm/recommend
    container_name: martletplace_recommend
    restart: unless-stopped
    depends_on: []
    volumes: [ ./apps/algorithm/recommend/src:/app/src ]
    environment:
      <<: *shared_env_var
      # needs to be postgresql+asyncpg for sqlalchemy to be happy
      DB_ENDPOINT: postgresql+asyncpg://martletplace:johuigytfrdcv@datalayer:8300/martletplace

  datalayer:
    build: apps/data/datalayer
    container_name: martletplace_datalayer
    restart: unless-stopped
    depends_on:
      - database
    volumes: []
    environment:
      - POSTGRESQL_USERNAME=martletplace
      - POSTGRESQL_PASSWORD=johuigytfrdcv
      - POSTGRESQL_DATABASE=martletplace
      - POSTGRESQL_HOST=database
      - POSTGRESQL_PORT=8310
      - EMAIL_ENDPOINT=smtp://mailserver/martletplace.ca
      - SEND_EMAILS=FALSE
      - ELASTIC_ENDPOINT=https://elasticsearch:8311

  database:
    build: apps/data/database
    container_name: martletplace_database
    restart: unless-stopped
    depends_on: []
    volumes: [ ./apps/data/database/populatedb.sql:/docker-entrypoint-initdb.d/populatedb.sql, ./apps/data/database/recommender/trainingData.csv:/docker-entrypoint-initdb.d/recommender/trainingData.csv ]
    environment:
      - POSTGRES_USER=martletplace
      - POSTGRES_PASSWORD=johuigytfrdcv
      - POSTGRES_DB=martletplace

  elasticsearch:
    build: apps/data/elasticsearch
    container_name: martletplace_elasticsearch
    restart: unless-stopped
    depends_on: []
    volumes: []
    environment:
      - ELASTIC_PASSWORD=serxdfcghjfc
    mem_limit: 1GB

  mailserver:
    build: apps/data/mailserver
    container_name: martletplace_mailserver
    restart: unless-stopped
    depends_on: []
    volumes: []
    environment: []

  pgsync:
    build: apps/data/pgsync
    container_name: martletplace_pgsync
    restart: unless-stopped
    depends_on:
      datalayer:
        condition: service_started
      elasticsearch:
        condition: service_healthy
      cache:
        condition: service_started
    environment:
      - PG_HOST=datalayer
      - PG_PORT=8300
      - PG_USER=martletplace
      - PG_PASSWORD=johuigytfrdcv
      - ELASTICSEARCH_HOST=elasticsearch
      - ELASTICSEARCH_PORT=8311
      - ELASTICSEARCH_USER=elastic
      - ELASTICSEARCH_PASSWORD=serxdfcghjfc
      - ELASTICSEARCH_SCHEME=https
      - ELASTICSEARCH_VERIFY_CERTS=False
      - REDIS_HOST=cache
      - REDIS_PORT=8313
      - REDIS_DB=0

  cache:
    build: apps/data/cache
    container_name: martletplace_cache
    restart: unless-stopped
    depends_on: []
    volumes: []
    environment:
      - DFLY_port=8313

  collector:
    build: apps/observability/collector
    container_name: martletplace_collector
    restart: unless-stopped
    depends_on: []
    volumes: []

  jaeger:
    build: apps/observability/jaeger
    container_name: martletplace_jaeger
    restart: unless-stopped
    depends_on: []
    volumes: []
    command: "--query.base-path /admin/tracing --query.http-server.host-port 0.0.0.0:16686 --collector.otlp.enabled --collector.otlp.grpc.host-port 0.0.0.0:4317 --collector.otlp.http.host-port 0.0.0.0:4318"
