fastapi
pydantic
uvicorn[standard]
gunicorn
tensorflow
pandas
numpy
sqlmodel
sqlalchemy
asyncpg
pyjwt[crypto]
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-sqlalchemy

## Dev Dependencies
ruff
pytest
bandit
