fastapi
pydantic
elasticsearch
uvicorn[standard]
gunicorn
asyncpg
pyjwt[crypto]
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-asyncpg
opentelemetry-exporter-otlp-proto-http

## For healthcheck
requests

## Dev Dependencies
ruff
pytest
bandit
httpx
