name: Backend

on:
  push:
    branches: ["master"]
  pull_request:

env:
  NODE_VERSION: "20.x"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [user, listing, review, message, lib]
      fail-fast: false
    defaults:
      run:
        working-directory: apps/backend/${{ matrix.service }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

  format:
    name: Format
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [user, listing, review, message, lib]
      fail-fast: false
    defaults:
      run:
        working-directory: apps/backend/${{ matrix.service }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Format
        run: npm run format:ci

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [user, listing, review, message, lib]
      fail-fast: false
    defaults:
      run:
        working-directory: apps/backend/${{ matrix.service }}
    steps:
      - uses: actions/checkout@v4

      - name: Docker Compose Up
        run: docker compose up -d ${{ matrix.service == 'lib' && 'user' || matrix.service }} datalayer database

      - name: Install Dependencies
        if: matrix.service == 'lib'
        run: docker compose exec user npm install --prefix ../lib

      - name: Test
        run: docker compose exec ${{ matrix.service == 'lib' && 'user' || matrix.service }} npm run ${{ matrix.service == 'lib' && '--prefix ../lib' || '' }} test:ci

  sast:
    name: Static Code Anaylysis Security
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [user, listing, review, message, lib]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Nodejs Scan
        uses: ajinabraham/njsscan-action@master
        with:
          args: './apps/backend/${{ matrix.service }}'

  guarddog:
    name: Supply Chain Security
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [user, listing, review, message, lib]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install guarddog

      - run: guarddog npm verify "apps/backend/${{ matrix.service }}/package.json" --exclude-rules repository_integrity_mismatch
